<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        h1, h2, li {
            all: unset;
        }
    </style>
</head>
<body>
<div class="mx-auto" align="center" style="margin-top: 100px">
    <h1>
        <p class="h1"> SanBerry - Stream</p>
    </h1>

    <div class="jsStream">
        <img src="resources/image2.jpg">
    </div>
    <div>
        <button type="button" class="btn btn-success btn-lg">Stream</button>
    </div>
</div>

</body>
</html>